.navbar > .btn-cv {
    width: 194px;
    height: 55px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #153243;
}

.container-about > .btn-hire button {
    position: absolute;
    width: 185px;
    height: 130px;
    top: -15px;
    left: 15px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    background-color: #153243;
    color: white;
    border: none;
}

