body button{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    color: white;
    background-color: #153243;
}

.navbar > .btn-cv {
    width: 194px;
    height: 55px;
    font-size: 18px;

}

.container-about > .btn-hire button {
    position: absolute;
    width: 185px;
    height: 130px;
    top: -15px;
    left: 15px;
    font-size: 18px;

}

.hire-container > .row > .btn-start > .start {
    width: 294px;
    height: 65px;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
}