.color {
    background-color: #f8f9fa;
}

.container-main {
    background-color: #f8f9fa;
}

.container-about > .content-title {
    margin-top: 100px;
}

.row {
    margin: 0;
}

@media (max-width:768px) {
    
}