.color {
    background-color: #f8f9fa;
}

.container-main {
    background-color: #f8f9fa;
}

.container-about > .content-title {
    margin-top: 100px;
}

.row {
    margin: 0;
}

.hire-container {
    margin-top: 129px;
}

.hire-container > .row > .woman-train {
    margin-left: 813px;
}

.hire-container > .row > .btn-start {
    align-items: center;
    text-align: center;
    margin-top: 69px;
}
@media (max-width:768px) {
    
}