.color {
    background-color: #f8f9fa;
}

.container-main {
    background-color: #f8f9fa;
}

.container-about > .content-title {
    margin-top: 100px;
}

.row {
    margin: 0;
}

.hire-container {
    margin-top: 129px;
}

.hire-container > .row > .woman-train {
    margin-left: 813px;
}

.hire-container > .row > .btn-start {
    align-items: center;
    text-align: center;
    margin-top: 69px;
}

.container-portfolio {
    margin-top: 130px;
    height: 780px;
}

.color > .container .project-paragraph {
    margin-top: 136px;
}

.color > .container .project-text-button {
    top: -90px;
}

.container-team {
    margin-top: 150px;
}

.container-team .container-member {
    align-items: center;
    text-align: center;
}

.color-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #153243;
    height: 221px;
    align-items: center;
    text-align: center;
}

.client-logo {
    display: flex;
    align-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.container-feedback {
    margin-top: 100px;
    padding-bottom: 100px;
}

.container-feedback > .title-feedback {
    padding-top: 50px;
}

.container-feedback > .container {
    display: flex;
    align-content: center;
}

.container-feedback > .container > .photo-aspas {
    top: -60px;
}

.container-feedback > .container > .container-cite {
    margin-top: 100px;
    z-index: 1;

}

.container-feedback > .container > .container-photo {
    right: 200px;
}


@media (max-width: 1199px) {
    .hire-container > .row > .woman-train {
        margin-left: 0px;
    }
}