/* body h2{
    font-family: 'Jost', sans-serif;
    font-size: 43px;
    color: #153243;
} */

.container > .row > .services {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    font-size: 43px;
    color: #153243;
    margin-top: 200px;
}

.row > .services-product h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 28px;
}

.hire-container > .row > .title h2 {
    font-size: 54px;
    padding-left: 19px;
    width: 400px;
}

.color > .container-portfolio > .title-project > .projects {
    font-family: 'Jost', sans-serif;
    font-size: 43px;
    color: #153243;
}