

.content-title > .about {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #153243;
}

.content-title > .name-person {
    font-family: 'Jost', sans-serif;
    font-size: 35px;
    color: #153243;
}

.photo > .scroll-p {
    display: inline-block;
    position: absolute;
    font-family: 'Jost', sans-serif;
    color: #153243;
    font-size: 22px;
    height: 30px;
    width: 250px;
    left: 420px;
    top: 730px;
    transform: rotate(90deg);
}