/* *{ 
    border: 1px solid red !important; 
} */

.photo {
    display: flex;
    flex-basis: auto;
    box-sizing: border-box;

}

.color > .container > .main-header > .menu-header > .navbar .logo-fotoz {
    position: relative;
    top: -12px;
}

.photo > .main-photo {
    position: relative;
    margin-top: 30px;
}

.photo .img-rotate {
    position: relative;
    width: 55px;
    height: 50px;
    top: 830px;
    left: 15px
}

.container > .row > .services-product {
    margin-top: 65px;
    align-items: center;
    text-align: center;
}

.hire-container > .row .woman-camera {
    width: 432px;
    height: 582px;
}

.hire-container > .row > .why-hire > .client-status {
    margin-top: 245px;
}

.hire-container > .row > .woman-train img{
    width: 302px;
    height: 201px;
}

.color > .container  .photo > .woman-white {
    width: 400px;
    height: 600px;
}

.color > .container  .photo > .man-yellow {
    position: relative;
    width: 485px;
    height: 703px;
    top: -98px;
}

.container-team > .container > .row  .photo-man, .photo-woman2 {
    width: 300px;
    height: 285px;
}

.container-team > .container > .row  .photo-woman {
    width: 300px;
    height: 400px;
}

.container-team > .container > .row > .container-member .social-media {
    margin-left: 7px;
}

.container-team > .container > .row > .container-member .social-media-position {
    position: relative;
    top: -100px;
}

.container-feedback > .container .photo-feedback {
    width: 432px;
    height: 489px;
}

.container-feedback > .container .photo-aspas .aspas {
    position: relative;
    margin-top: 100px;
    left: 470px;
}

@media (max-width: 900px) {
    .hire-container .why-hire {
        display: none;
    }

    .hire-container .woman {
        display: none;
    }
}

@media (max-width: 991px) {
    .container .menu-header .btn-cv {
        display: none;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .container-main .btn-hire {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .container-about > .btn-hire button {
        left: auto !important;
    }

    
}

@media (max-width: 500px) {

    .container-navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .color > .container > .main-header > .menu-header > .navbar .logo-fotoz {
        top: 0;
    }

    .container-about > .content-title {
        margin-top: 50px;
    }

    .container-main .photo {
        display: none;
    }

    .container-main .btn-hire {
        right: auto;
    }

    .container-services {
        margin: 0;
    }

    .hire-container {
        margin-top: 50px;
    }

    .hire-container > .row > .title h2 {
        font-size: 3.5rem;
        padding-left: 0;
        width: 250px;
    }

    .hire-container > .row > .title p {
        padding-left: 0;
        width: 250px;
    }

    .hire-container > .row > .btn-start {
        margin-top: 0;
    }

    .hire-container > .row > .btn-start > .start {
        font-size: 19px;
        width: 200px;
    }
    .container-portfolio {
        height: auto;
    }

    .photo-projects {
        margin-right: auto;
        margin-left: auto;
    }

    .color > .container .photo > .woman-white {
        width: 100%;
        height: auto;
    }

    .color > .container .project-paragraph {
        margin-top: 0;
    }

    .color > .container .project-paragraph .project {
        margin: 0;
    }

    .color > .container .project-text-button {
        top: 0;
        left: 0;
    }

    .color > .container > .photo-projects .project-text-button .btn-portfolio {
        top: 0;
        left: 0;
        font-size: 25px;
    }

    /* Container team */

    .container-team > .container > .row .photo-man, .photo-woman2 {
        width: 100%;
        height: auto;
    }

    .container-team > .container > .row .photo-woman {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .container-team .container-woman2 {
        top: -70px;
    }

    /* Container Feed-back */

    .container-feedback > .container > .container-photo {
        display: none;
    }

    .container-feedback > .container > .container-cite {
        margin-top: 0;
    }

    .container-feedback > .row .cite-feedback {
        font-size: 20px;
    }

    .container-feedback > .row .feedback-name {
        margin-top: 15px;
        font-size: 15px;
    }

    .container-feedback > .row .feedback-profession {
        font-size: 12px;
    }

    .container-blog .container-blog-positon {
        margin-left: 0;
        margin-right: 0;
    }

    .container-blog .trending {
        display: none;
    }

    .container-blog .btn-blog .btn {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 1001px) {
    .photo > .main-photo {
        width: 100%;
    }
}

@media (max-width: 1044px) {
    .photo > .scroll-p {
        display: none !important;
    }

    .photo .img-rotate {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .man-yellow {
        display: none;
    }

    .client-logo {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hire-container > .row > .woman-train img {
        display: none;
    }

    .hire-container > .row .hire-paragraph {
        margin: 0 auto;
    }

    .hire-container > .row .hire-p {
        padding-left: 0 /* !important */; 
    }

    .container-portfolio {
        height: auto !/* important */;
    }

    .color > .container-portfolio > .title-project {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

    .container-portfolio .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .color > .container .project-paragraph {
        margin-top: 0 !/* important */;
    }

    .color > .container .project-text-button {
        top: 0 !/* important */;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .color > .container .project-text-button .project-legend {
        display: none;
    }

    .color > .container > .photo-projects .project-text-button .btn-portfolio {
        left: 0 !/* important */;
        top: 0 !/* important */;
    }

    .client-logo {
        display: none !/* important */;
    }

    .container-feedback > .container > .photo-aspas {
        display: none;
    }

    .container-feedback > .container > .container-photo {
        right: 0 !/* important */;
/*         display: flex;
 */        align-items: center;
        justify-content: center;

    }
    .container-about > .btn-hire button {
        left: auto !/* important */;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1410px) {

    .hire-container > .row > .title p {
        padding-left: 0;
    }

    .color > .container .photo > .man-yellow{
        width: 350px;
    }
}

@media (max-width: 1415px) {
    .color > .container .photo > .man-yellow{
        width: 370px;
    }

}