.photo {
    display: flex;
    flex-basis: auto;
    box-sizing: border-box;

}

.photo > .main-photo {
    margin-top: 30px;
    width: 504.08px;
    height: 756.12px;
}

.photo .img-rotate {
    position: relative;
    width: 55px;
    height: 50px;
    top: 850px;
    left: 15px
}

.container > .row > .services-product {
    margin-top: 65px;
    align-items: center;
    text-align: center;
}

.hire-container > .row .woman-camera {
    width: 432px;
    height: 582px;
}

.hire-container > .row > .why-hire > .client-status {
    margin-top: 245px;
}

.hire-container > .row > .woman-train img{
    width: 302px;
    height: 201px;
}

.color > .container  .photo > .woman-white {
    width: 400px;
    height: 600px;
}

.color > .container  .photo > .man-yellow {
    position: absolute;
    width: 485px;
    height: 703px;
    top: -98px;
}